# Abhängigkeiten
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Laufzeitdaten
pids
*.pid
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

# Verzeichnis für den Build-Prozess
/dist

# .env Dateien
.env
.env.test

# Verschiedene IDE- und Editor-spezifische Dateien
.idea
*.sublime*
.vscode
*.swp
*.swo
*.swn
*.bak